{% extends 'index.twig' %}

{% block titulo %}
    {{ template.objFuncionario.nome }}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <div class="row">
                <label for="nome">Nome Usuário:</label>&nbsp;{{ template.objFuncionario.nome }}
            </div>
            <div class="row">
                <label for="cep">Cargo:</label>&nbsp;{{ template.objFuncionario.cargo }}
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>
{% endblock %}